# Operating System Files

*#
*.DS_Store
*~
.#*
Thumbs.db

# Build Artifacts

.gradle/
bin/
build/
dependency-reduced-pom.xml
log/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/

# Eclipse Project Files

.classpath
.project
.settings/

# Maven
.mvn/timing.properties
buildNumber.properties
