# Eclipse
.classpath
.project
.settings/

# Maven
.mvn/timing.properties
buildNumber.properties
dependency-reduced-pom.xml
log/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/

# Mac
.DS_Store
