<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!--  <pattern>\n(%d{HH:mm:ss.SSS} [%thread{2}] %-5level %logger{2} [%F:%L] - %msg\n)</pattern>  -->
      <pattern>\n(%d{HH:mm:ss.SSS} [%thread{1}] %-5level [%F:%L] - \n\t%msg\n)</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder><pattern>\n%msg\n</pattern></encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>

